// Primary

$Blue: hsl(246, 80%, 60%);

$Light-red-work: hsl(15, 100%, 70%);
$Soft-blue-play: hsl(195, 74%, 62%);
$Light-red-study: hsl(348, 100%, 68%);
$Lime-green-exercise: hsl(145, 58%, 55%);
$Violet-social: hsl(264, 64%, 52%);
$Soft-orange-self-care: hsl(43, 84%, 65%);

// Neutral

$Very-dark-blue: hsl(226, 43%, 10%);
$Dark-blue: hsl(235, 46%, 20%);
$Desaturated-blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);
// --------------------------------------------

*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}

body {
    font-family: 'Rubik', serif;
    font-size: 1.125rem;
    color: #fff;
    background-color: $Very-dark-blue;
}

main {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    grid-template-rows: 250px 250px;
    grid-template-areas: 
    "profile-info . . ."
    "profile-info . . .";
    gap: 20px;
    align-items: stretch;
}

.profile {
    grid-area: profile-info;
}